/* Read More
/* ---------------------------------------------------------- */
.gh-card-readmore {
    display: inline-block;
    margin-top: 1em;
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
    transition: color 0.3s ease;
}

.gh-card-readmore:hover {
    color: var(--color-primary-dark);
}

/* Kartın genişleyen içeriği için geçiş efekti */
.gh-card-content p {
    max-height: 60px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.gh-card-content.expanded p {
    max-height: 1000px; /* Genişleme sonrası görünür yükseklik */
}

.gh-readmore {
    padding: 8vmin 4vmin;
    font-size: 2.6rem;
}

.gh-readmore-inner {
    display: grid;
    grid-gap: 8vmin;
    grid-template-columns: 1fr 1fr;
}

.gh-readmore-prev {
    justify-content: flex-end;
    text-align: right;
}

.gh-readmore a {
    display: flex;
    color: currentColor;
    text-decoration: none;
}

.gh-readmore h4 {
    width: 100%;
    font-size: inherit;
}

.gh-readmore svg {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    margin: 0.15em 0 0;
}

.gh-readmore svg + h4,
.gh-readmore h4 + svg {
    margin-left: 2vmin;
}

@media (max-width: 700px) {
    .gh-readmore {
        font-size: 1.6rem;
    }
    .gh-readmore svg {
        margin: 0.1em 0 0;
    }
}
